# Autoindex config file, in -*- conf-unix -*- mode.

[DEFAULT]
noindex = 
    list-table::
    code-block::
    :: *$

[keywords]
DOSI
IBM PC
IF Archive
IF Competition
Infocom
NotePad = text editor
NPC
RAIF
RGIF
Strict mode
TADS

[rolemap]
obj = library object
const = library constant
var = library variable
prop = library property
attr = library attribute
act = library action
func = library routine
